*{margin: 0; padding: 0; font-family: Verdana, Geneva, Tahoma, sans-serif}

#header{
    width: 100%;
    height: 60px;
    background: #3f5267;
}

#logo{
    width: 20%;
    height: 60px;
    float: left;
}

#logo h2{
    text-align: center;
    line-height: 60px; 
}

#logo h2 a{
    text-decoration: none;
    color: #74889e;
    text-shadow: 3px 3px 3px #000;
}

#title{
    width: 60%;
    height: 60px;
    float: left; 
}

#title h2{
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
    line-height: 60px;  
}

#link{
    width: 20%;
    height: 60px;
    float: left;
}

#link h3{
    text-align: center;
    line-height: 60px;
}

#link h3 a {
    text-decoration: none;
    color: #fff;
    display: block;
}

#link h3:hover{
    background: #74889e;
}

#bodyleft{
    width: 18%;
    height: 737px;
    background: #3f5267;
    float: left; 
    overflow-y: auto; 
}

#bodyleft h3{
    font-weight: bold;
    margin-bottom: 2%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    background: #74889e;
    height: 30px;
    line-height: 30px;
}

#bodyleft ul{
    list-style-type: none;
}

#bodyleft ul li {
    transition: all 0.3s;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 5%;
    box-sizing: border-box;   
}

#bodyleft ul li a i{
    width: 10% ;
}

#bodyleft ul li a{
    transition: all 0.3s;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-shadow: 5px 5px 5px #000;
    font-weight: bold;
}

#bodyleft ul li:hover{
    background: #fff
}

#bodyleft ul li:hover a{
    padding-left: 5%;
    box-sizing: border-box;
    color: #3f5267;  
}

#bodyright{
    width: 82%;
    height: 730px;
    background: #fff;
    float: left; 
    overflow-y: auto; 
}

#bodyright h3{
    margin-bottom: 2%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    background: #74889e;
    height: 30px;
    line-height: 30px; 
    font-weight: normal; 
}

#add{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

#add details{
    width: 60%;
    margin: auto;
}

#add details summary{
    width: 100%;
    height: 30px;
    color: #3f5267;
    border: 1px solid #3f5267;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

#add details form{
    background: #74889e; 
    padding: 3%;
    box-sizing: border-box;
}

#add details form input{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;
}

#add details form select{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;
}

#add details form button{
    color: #fff;
    width: 40%;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    font-size: 12px;
}

#add details form button:hover{cursor: pointer; background: #fff; color: #3f5267}

#add table{
    width: 60.2%;
    margin: auto;
    border: 1px solid #74889e;
}

#add table tr th {
    height: 35px;
    font-size: 14px;
    background: #74889e;
    box-sizing: border-box;
    color: #fff;
    text-align:left ;
    padding-left: 2%;
}

#add table tr td{
    color: #000;
    height:30px;
    padding-left: 2%;
    box-sizing: border-box;
    font-size: 12px;
}

#modifier_form{
    margin: auto;
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
}

#modifier_form input{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;
}

#modifier_form select{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;
}

#modifier_form button{
    cursor:pointer ;
    color: #3f5267;
    width: 40%;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid #3f5267;
    font-size: 12px;
}

#modifier_form button:hover{
    color: #fff;
    background: #3f5267 ;
}



































